.Modal {
  opacity: 0;
  transform: translateX(-100vw);
  transition:
    opacity 0.2s ease-in-out,
    transform 0s ease-in-out 0.4s; /* ⬅ delay of 0.4s only on translateX */
  background-color: rgba(var(--dark), 0.3);
}

.Modal.isOpenModal {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.2s ease-in-out 0.4s,
    transform 0s ease-in-out 0.4s;
}
