.content-modal-wrapper {
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s ease-in-out 0.5s;
}

.Modal.isOpenModal .content-modal-wrapper {
  backdrop-filter: blur(10px);
}

.Modal {
  opacity: 0;
  transform: translateX(-100vw);
  transition:
    opacity 0.2s ease-in-out,
    transform 0s ease-in-out 0.5s; /* ⬅ delay of 0.5s only on translateX */
  background-color: rgba(var(--dark), 0.3);
}

.Modal.isOpenModal {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.2s ease-in-out 0.5s,
    transform 0s ease-in-out 0.5s;
}

.Modal .CloseIconButton {
  transform: translateX(-30px);
  transition: transform 0.3s ease-in-out;
}

.Modal .isOpenSidebar.CloseIconButton {
  transform: translateX(-265px);
  transition: transform 0.3s ease-in-out;
}
