.Pin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  text-align: center;
  transform-origin: right;
  opacity: 0.6;
  transform: translateX(25px);
}
.Pin:hover {
  opacity: 1;
  transition: all 0.2s;
}

.Pin p {
  font-size: 0.8em;
  color: rgba(var(--light), 1);
  font-weight: 600;
  text-transform: capitalize;
}

.Pin-line {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: rgba(var(--light), 1);
  margin: 0px 0 0 0px;
}

.Pin-dot {
  width: 9px;
  height: 9px;
  background-color: rgba(var(--light), 1);
  border-radius: 50%;
}
