.Sidebar aside {
  z-index: 100;
  background-color: rgba(var(--dark), 1);
}

.Sidebar button {
  z-index: 101;
}

.Sidebar .sound-code {
  font-size: 3rem;
  letter-spacing: 0.001em;
  color: rgba(var(--light), 1);
  padding: 0.5rem 2rem;
  opacity: 0.3;
}

.Sidebar header {
  margin-top: 10%;
  height: 120px;
  padding: 0 3rem;
  align-items: center;
}

.Sidebar .content p {
  color: rgba(var(--light), 1);
  padding: 1rem 3rem;
}

.Sidebar hr {
  margin: 0rem 3rem;
}

.Sidebar footer {
  padding: 2rem 3rem;
}

.Sidebar .more-info {
  transform: rotateZ(90deg) translateX(30px) translateY(40px);
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgba(var(--light), 1);
}

.Sidebar .more-info:hover,
.Sidebar .more-info:focus {
  box-shadow: none;
  border: none;
}

.Sidebar .more-info p {
  transition: all 0.2s ease-in-out;
}

.Sidebar .more-info:hover p,
.Sidebar .more-info:focus p {
  opacity: 1;
}

.Sidebar .more-info p {
  opacity: 0.6;
  transform: translateY(2px);
}

.Sidebar .more-info .bar {
  display: flex;
  width: 18px;
  height: 2px;
  background-color: rgba(var(--accent), 1);
}

.Sidebar .more-info i span {
  transition: transform 0.3s ease-in-out;
}

.Sidebar .more-info i span:nth-child(1) {
  transform: rotateZ(90deg);
}

.Sidebar .more-info i span:nth-child(2) {
  transform: scaleX(1);
}

.Sidebar .more-info i span.open:nth-child(2) {
  transform: scaleX(0);
}

.Sidebar,
.main-section {
  transition: all 0.154s ease-in-out;
}

.Sidebar {
  transform: translateX(-600px);
}

.Sidebar > .isOpenSidebar {
  transform: translateX(600px);
  width: 600px;
}

.main-section.isOpenSidebar {
  width: calc(100vw - 600px);
}

@media screen and (max-width: 1200px) {
  .main-section.isOpenSidebar {
    width: calc(100vw - 400px);
  }
  .Sidebar > .isOpenSidebar {
    transform: translateX(400px);
    width: 400px;
  }
  .Sidebar {
    transform: translateX(-400px);
  }
}

@media screen and (max-width: 820px) {
  .main-section.isOpenSidebar {
    width: 100vw;
  }
  .Sidebar > .isOpenSidebar {
    position: absolute;
    width: 100vw;
  }
  .Sidebar aside {
    z-index: 100;
    background-color: rgba(var(--dark), 0.8);
  }
  .Sidebar .content p {
    color: rgba(var(--light), 1);
    padding: 1rem 1rem;
  }
}
