:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: 126, 90, 197; /* #7e5ac5 */
  --light: 249, 241, 228; /* #f9f1e4 */
  --dark: 28, 14, 50; /* #1c0e32 */
  --accent: 255, 222, 124; /* #ffde7c */
  --accent-3d: 255, 133, 239; /* #ff85ef */
  --accent-3d-time: 95, 255, 242; /* #5ffff2 */
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/font/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/font/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/font/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/font/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/font/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#root {
  overflow: hidden;
}

main {
  background-color: rgba(var(--dark), 1);
}

header nav ul li a {
  color: rgba(var(--light), 1);
}

body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(var(--dark), 1);
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

.content p a {
  color: rgba(var(--accent), 1);
  text-decoration: underline;
}

button,
a.link-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid rgba(var(--accent), 0.5);
  font-size: 1em;
  font-family: inherit;
  background-color: rgba(var(--dark), 0.5);
  color: rgba(var(--accent), 1);
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent; /* initialize */
  transition: all 0.2s ease;
  text-transform: uppercase;
}
button:hover,
a.link-button:hover {
  border: 1px solid rgba(var(--accent), 1);
  box-shadow: 0 0 4px 4px rgba(var(--accent), 0.4);
}

button:focus,
button:focus-visible,
a.link-button:focus,
a.link-button:focus-visible {
  box-shadow: 0 0 4px 4px rgba(var(--accent), 0.4);
}

button span {
  margin-bottom: -0.1rem;
}

button.no-style {
  border: none;
  background-color: transparent;
  transform-origin: center;
  transform: rotateZ(90deg);
  font-size: 0.75rem;
}

button.no-style:focus,
button.no-style:hover {
  box-shadow: none;
}

button.no-style .bar {
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: rgba(var(--accent), 0.7);
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}

.Page.wrapper {
  /* gradient fade mask */

  mask-image: linear-gradient(
    to bottom,

    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0.5) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
